# /public/hot
# /public/storage
/storage/*.key
/node_modules
/vendor
/.idea
/.vscode
/.cache
/nbproject
/.vagrant
/public/storage
/public/js/dev
/public/js/chunks
/public/js/prod
/public/mix-manifest.json
/public/*.worker.js
/public/*.worker.js.map
/public/frontend-docs
/storage/api-docs
/storage/frontend-docs
/storage/backup-folder
/storage/remove-profile-data
/storage/medialibrary/temp
Homestead.json
Homestead.yaml
# .gitold
resources.zip
npm-debug.log
yarn-error.log
.phpunit.result.cache
# composer.lock
# package-lock.json
.env
.DS_Store
.cache