.react-phone-number-input .react-phone-number-input__input {
    border-bottom: 1px solid;
    border-bottom-color: rgba(0,0,0,0.42);
    font-family: "Barlow", sans-serif;
}
.react-phone-number-input:hover .react-phone-number-input__input {
    border-bottom: 2px solid;
    border-bottom-color: rgba(0,0,0,0.87);
}
/* .react-phone-number-input--focus .react-phone-number-input__input {
    color: rgba(0,0,0,0.42);
} */
.react-phone-number-input__icon {
    border: 1px solid rgba(0,0,0,0.42);
}


.react-phone-number-input .react-phone-number-input__country-select-arrow, .react-phone-number-input--focus .react-phone-number-input__country-select-ar {
    color: rgba(0,0,0,0.87) !important;
}
